{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true
    },
    "extends": "airbnb",
    "plugins": [
        "react",
        "import"
    ],
    "rules": {
        "semi": [
            2,
            "never"
        ],
        "arrow-body-style": [
            "error",
            "as-needed"
        ],
        "comma-dangle": [
            "error",
            "never"
        ],
        "camelcase": 0,
        "no-console": 0,
        "no-param-reassign": 0,
        "no-shadow": 0,
        "eol-last": 0,
        "class-methods-use-this": 0,
        "react/jsx-uses-vars": "error",
        "react/jsx-uses-react": "error",
        "react/forbid-prop-types": ["error", {
            "forbid": ["any", "object"]
        }]
    }
}